@use "presets" as *;
@use "mixins" as *;

html {
  overflow-y: scroll;
  overflow: visible;
  font-size: $font-size;
}

body {
  overflow-x: hidden;
  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  font-family: $font-header;

  @include xs {
    margin: 0 0 1em 0;

    font-size: 2rem;
  }
  @include xs-min {
    margin: -$gap-md 0 1em 0;

    font-size: 3rem;
  }
}

h2 {
  font-family: $font-header;
  font-size: 2.5rem;
  padding-top: 59px;
  margin: 0 0 45px 45px;
  position: relative;

  &::before {
    margin: 10px 0 0 -45px;
    position: absolute;
    content:"";
    width: $gap*2;
    border-bottom: 3px solid #f0ad4f;
  }

  &::after {
    margin: 34px 0 0 15px;
    position: absolute;
    content:"";
    width: 100%;
    border-bottom: 3px solid #f0ad4f; 
  }
}

h3 {
  font-size: 1rem;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}
