@use "presets" as *;
@use "mixins" as *;

.footer {
  padding-top: 45px;

  color: $color-gray;
  background-color: $color-dark;

  a {
    color: $color-gray-dark;

    &:hover,
    &:focus {
      text-decoration: none;

      color: $color-white;
    }
  }

  &-fifth {
    margin: 20px 0;

    text-align: center;

    a {
      color: $color-gray;

      &:hover,
      &:focus {
        color: $color-white;
      }
    }
  }

  ul {
    padding: 0;

    list-style: none;
  }
}
