@use "presets" as *;
@use "mixins" as *;

.film-about {
  position: relative;
  overflow: hidden;

  &__title::after {
    position: absolute;
    margin-left: 15px;
    width: 100%;
    content: "";
    border-bottom: 3px solid #f0ad4f;

    @include xs-min {
      padding-top: 41px;
    }
    
    @include xs {
      padding-top: 27px;
    }
  }
  &__well {
    text-align: center;
    border-radius: 0 0 4px 4px;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__content:first-of-type {
    margin-left: 12px;
  }
  &__content:not(last-of-type) {
    margin-right: 15px;
  }

  &__badge {
    font-size: 0.8em;
  }
}
