.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
}

.navbar-inverse {
  margin-bottom: 0;
  border-color: transparent;
  background-color: #191919;
}
.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel-info {
  border: none;
  background-color: #f4f4f4;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.panel-info:not(last-of-type) {
  margin-bottom: 30px;
}
.panel-info:last-of-type {
  margin-bottom: 0;
}
.panel-info > .panel-heading {
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background-color: #df8a13;
  font-size: 1.25rem;
}
.panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.embed-responsive {
  border: 1px solid #d5d5d5;
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
}

html {
  overflow-y: scroll;
  overflow: visible;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "PT Serif", serif;
}

h2 {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  padding-top: 59px;
  margin: 0 0 45px 45px;
  position: relative;
}
h2::before {
  margin: 10px 0 0 -45px;
  position: absolute;
  content: "";
  width: 30px;
  border-bottom: 3px solid #f0ad4f;
}
h2::after {
  margin: 34px 0 0 15px;
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 3px solid #f0ad4f;
}

h3 {
  font-size: 1rem;
}

a {
  color: #165690;
}
a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

.header {
  margin-bottom: 80px;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  display: block;
  margin-right: -0.33em;
  letter-spacing: 0.33em;
  color: #df8a13;
  font-family: "PT Serif", serif;
}
.header-logo__description {
  display: block;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-size: 1.15rem;
}

.main {
  margin-bottom: 80px;
}
.main .site-search {
  margin-bottom: 45px;
}
.main .user-login {
  margin-bottom: 60px;
}

.new-films {
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}
.new-films-title::after {
  position: absolute;
  width: 100%;
  content: "";
  border-bottom: 3px solid #f0ad4f;
}
.new-films-row {
  margin-right: -7.5px;
  margin-bottom: -15px;
  margin-left: -7.5px;
}
.new-films-item {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.new-films-item:hover h3 {
  color: #ffffff;
}
.new-films-item__title {
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.new-films-item__thumbnail {
  display: block;
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-radius: 4px;
}
.new-films-item__thumbnail:hover {
  border-color: #df8a13;
  background-color: #df8a13;
}

.film-about {
  position: relative;
  overflow: hidden;
}
.film-about__title::after {
  position: absolute;
  margin-left: 15px;
  width: 100%;
  content: "";
  border-bottom: 3px solid #f0ad4f;
}
.film-about__well {
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.film-about__content {
  font-size: 1.2rem;
}
.film-about__content:first-of-type {
  margin-left: 15px;
}
.film-about__content:not(last-of-type) {
  margin-right: 15px;
}
.film-about__badge {
  font-size: 0.8em;
}

.film-form,
.film-comments,
.film-content {
  overflow: hidden;
}

.film-form__button {
  float: right;
}

.sidebar-left {
  margin-bottom: 80px;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}
.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}
.user-login__tabs a {
  padding: 14px 5px 12px !important;
  color: #d5d5d5;
  border: none !important;
  background-color: transparent !important;
}
.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  position: relative;
  clear: both;
}
.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}
.site-news-item:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: -4px;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #d5d5d5;
}
.site-news-item:hover a {
  color: #df8a13;
}
.site-news-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}
.site-news-item__thumbnail {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}
.site-news-item__title {
  margin-bottom: 0.5em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
}
.site-news-item__link {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.site-news-item__date {
  text-align: right;
  color: #6f6f6f;
  font-size: 0.8rem;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}
.top-films__list {
  margin-bottom: 0;
}
.top-films__item {
  margin-right: -1px;
  margin-left: -1px;
  padding-right: 55px;
  color: #165690 !important;
  background-color: transparent;
}
.top-films__item:first-child {
  border-bottom: none;
  border-radius: 0;
}
.top-films__item:last-child {
  border-bottom: none;
  border-radius: 0;
}
.top-films__item:hover, .top-films__item:focus {
  color: #ffffff !important;
  border-color: #df8a13;
  background-color: #df8a13 !important;
}
.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}
.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 576px) {
  h1 {
    margin: -10px 0 1em 0;
    font-size: 3rem;
  }
  .header-logo__title {
    font-size: 3.5rem;
  }
  .new-films-title::after {
    margin: 2.55rem 0 0 15px;
  }
  .film-about__title::after {
    padding-top: 41px;
  }
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}
@media (max-width: 1199.8px) {
  .new-films-item__image {
    width: 100%;
  }
}
@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}
@media (max-width: 575.8px) {
  h1 {
    margin: 0 0 1em 0;
    font-size: 2rem;
  }
  .header-logo__title {
    font-size: 2.5rem;
  }
  .new-films-title::after {
    margin: 1.7rem 0 0 15px;
  }
  .film-about__title::after {
    padding-top: 27px;
  }
}