.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
}

.navbar-inverse {
  margin-bottom: 0;
  border-color: transparent;
  background-color: #191919;
}
.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 15px;
}

.panel-info {
  border: none;
  background-color: #f4f4f4;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.panel-info:not(last-of-type) {
  margin-bottom: 30px;
}
.panel-info:last-of-type {
  margin-bottom: 0;
}
.panel-info > .panel-heading {
  letter-spacing: 0.08em;
  color: #ffffff;
  border: none;
  background-color: #df8a13;
  font-size: 1.25rem;
}
.panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  color: #165690;
}
a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

.header {
  margin-bottom: 80px;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  display: block;
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  letter-spacing: 0.33em;
  margin-right: -0.33em;
  color: #df8a13;
}
.header-logo__description {
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.main {
  margin-bottom: 80px;
}

.sidebar-left {
  margin-bottom: 80px;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}
.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10.005px;
  border: none;
}
.user-login__tabs a {
  padding: 14px 5px 12px !important;
  border: none !important;
  color: #d5d5d5;
  background-color: transparent !important;
}
.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  position: relative;
  clear: both;
}
.site-news-item:not(:last-child) {
  min-height: 85.005px;
  margin-bottom: 15px;
}
.site-news-item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -4px;
  height: 1px;
  width: calc(100% - 85.005px);
  background-color: #d5d5d5;
}
.site-news-item:hover a {
  color: #df8a13;
}
.site-news-item:hover .thumbnail {
  background-color: #df8a13;
  border-color: #df8a13;
}
.site-news-item__thumbnail {
  float: left;
  width: 75px;
  margin: 0 10.005px 10.005px 0;
}
.site-news-item__title {
  margin-bottom: 0.5em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
}
.site-news-item__link {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #6f6f6f;
}

.top-films__body {
  padding-left: 0;
  padding-right: 0;
}
.top-films__list {
  margin-bottom: 0;
}
.top-films__item {
  margin-left: -1px;
  margin-right: -1px;
  padding-right: 55px;
  background-color: transparent;
  color: #165690 !important;
}
.top-films__item:first-child {
  border-radius: 0;
  border-bottom: none;
}
.top-films__item:last-child {
  border-radius: 0;
  border-bottom: none;
}
.top-films__item:hover, .top-films__item:focus {
  background-color: #df8a13 !important;
  color: #ffffff !important;
  border-color: #df8a13;
}
.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}
.top-films__badge {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}
@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}